name: Ruby

# On all pushes and pull requests, run the workflow
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.3.0'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    # Install dependencies
    - name: Install Dependencies
      run: bundle install
    # Run linters and static analysis
    - name: Run RuboCop
      run: bundle exec rubocop
    # Run the test suite
    - name: Run the Specs
      run: bundle exec rspec
